{% extends 'dashboard/base.html' %}
{% load static %}
{% load i18n %}
{% block css %}{% endblock %}
{% block body %}
    <h1>Add job</h1>
{% endblock %}
{% block js %}
    <!--begin::Javascript-->
    <script>var hostUrl = "{% static 'assets/' %}";</script>
    <!--begin::Global Javascript Bundle(mandatory for all pages)-->
    <script src="{% static 'assets/plugins/global/plugins.bundle.js' %}"></script>
    <script src="{% static 'assets/js/scripts.bundle.js' %}"></script>
    <!--end::Global Javascript Bundle-->
    <!--begin::Vendors Javascript(used for this page only)-->
    <script src="{% static 'assets/plugins/custom/datatables/datatables.bundle.js' %}"></script>
    <!--end::Vendors Javascript-->
    <!--begin::Custom Javascript(used for this page only)-->
    <script src="{% static 'assets/js/widgets.bundle.js' %}"></script>
    <script src="{% static 'assets/js/custom/widgets.js' %}"></script>
    <script src="{% static 'assets/js/custom/apps/chat/chat.js' %}"></script>
    <script src="{% static 'assets/js/custom/utilities/modals/upgrade-plan.js' %}"></script>
    <script src="{% static 'assets/js/custom/utilities/modals/create-app.js' %}"></script>
    <script src="{% static 'assets/js/custom/utilities/modals/users-search.js' %}"></script>
    <script src="{% static 'assets/js/custom/apps/projects/list/list.js' %}"></script>
    <script src="{% static 'custom_assets/js/dashboard/job_list.js' %}"></script>
    <!--end::Custom Javascript-->
    <!--end::Javascript-->
{% endblock %}